<!doctype html>
<html itemscope itemtype="https://schema.org">
<head>
	
	<script src="js/aiopie.js"></script>
	<link rel="stylesheet" href="css/aiopie.css">
<meta charset="utf-8">
<title>Welcome to AIOPIE</title>
</head>

<body>
<div class="header">
		<ul>
			<li>
				<a href="home.html">Home</a>
			</li>
			<li>
				<a href="Level0.html">Disclaimers</a>
			</li>
		</ul>
		<ul>
			<li>
				<a href="mobile.html">Mobile</a>
			</li>
		</ul>
	</div>
	<div class="body">
		<ul>
			<li>
			<p class="body" aiopie()>
				Welcome To The THUNDERDOME!!!!!!!
				As of this moment, the project is still in conception.
				Please check back later for more information.
			</p>
			</li>
		</ul>
	</div>
	<div class="footer">
		<ul class="footer-inverse">
			<li>
			<a href="home.html">Home</a>
			</li>
		</ul>
	</div>
</body>
</html>
