<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Welcome to AIOPIE</title>
</head>

<body>
	<p>
	<p1>
		Basic analogous structure for artificial implementation with regenerative quantum failures
		</p1>
		<p2>
		These low level SAT style terminology that is written throughout this documentation is a product of a single private set of people's intellectual property
			These pages are written in such a way to disclaim all credibility to any 3rd party interference and disclaim the project managers and team from any punitive damages that may be made from lack of understanding of the single private set of people that are managing this project.
		</p2>
	</p>
	<a href="home.html">AIOPIE</a>
	
	<!-- Cloudflare Web Analytics -->
	
	 < script defer src="https://static.cloudflareinsights.com/beacon.min.js" data-cf-beacon="{"token":"606ca82342ee4c42b0ffca5d556b8a2e"}"></script>
	<!-- End Cloudflare Web Analytics -->
</body>
</html>
