<!doctype html>
<html>
<head>
<meta charset="utf-8">
	<link class="stylesheet" href="css/aiopie.css">
	<script language="jscript" src="js/aiopie.js"></script>
	
<title>Mobile Portal</title>
</head>

<body>
	<div clas:header>
		<ul>
			<li>
				<a href="home.html"><p>Home</p> <s>Home</s> Desktop</a>
			</li>
		</ul>
	</div>
	<div class:body>
	Hello
		<p>
		How dO I LOOK HERE?
			How about now?
		</p>
		<p class="center">How About NOOOWWW??
		</p>
	</div>
	<div class:footer>
		Im in the bottom
	</div>
</body>
</html>
